<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Default Suite">
    <test thread-count="5" name="seleniumJavaQA">
        <parameter name="browser" value="chrome"/>
        <classes>
<!--            <class name="org.example.testCases.LoginTest"/>-->
<!--            <class name="org.example.testCases.ProductPageTest"/>-->
            <class name="org.example.testCases.SubmitOrderTest"/>

        </classes>
    </test> <!-- seleniumJavaQA -->
</suite> <!-- Default Suite -->